.reveal .playback {
    display: none;
}
#slides {
    display: flex;
    justify-content: center;
    align-items: center;
}
#slides section {
    position: static;
}


.has-dark-background * {
    color: white!important;
}
.present.termine::before {
    content: 'TERMINE';
    position: absolute;
    transform: rotate(-90deg);
    top: 170px;
    font-size: 141px;
    left: -380px;
    color: #00000030;
}
.present.special::before {
    content: 'SPEZIAL';
    position: absolute;
    transform: rotate(-90deg);
    top: 202px;
    font-size: 141px;
    left: -344px;
    color: #00000030;
}
small {
    font-family: monospace;
    font-size: 18pt;
    margin-top: 5px;
}